@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');

:root{
    --color-bg-light: #edf6f9;
    --color-bg-dark: #222725;
    --color-txt-light: #f7f7f7;
    --color-txt-dark: #222725;
    --color-txt-primary: #222725;
    --color-txt-second: #ff0054;
    --color-txt-third: #ff5400;
    --color-txt-fourth: #9b5de5;
    --color-txt-fixteen: #f8f9fa;
    --color-boxshadow-firts: #adb5bd;
    --color-txt-sevent: #0051ff;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html{
    scroll-behavior: smooth;
}
/* Scrollbar */
::-webkit-scrollbar{
    width: 10px;
    border-radius: 25px;
}

::-webkit-scrollbar-track{
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb{
    background: #ccc;
    border-radius: 30px;
}

::-webkit-scrollbar-thumb:hover{
    background: #bbb;
}
/*base */
body{
    background: var(--color-bg-light);
}

.container{
    width: 100%;
    position: relative;
}

/* navbar */
nav{
    position: fixed;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 90px;
    line-height: 90px;
    background: var(--color-bg-light);
    padding-inline: 9vw;
    transition: .3s;
    z-index: 100;
}
.nav-logo{
    position: relative;
}

.nav-name{
    font-size: 30px;
    font-weight: 600;
    color: var(--color-txt-dark);
}

.nav-menu, .nav-menu_ul{
    display: flex;
}

.nav-menu .nav-menu_list{
    list-style: none;
    position: relative;
    
}

.nav-menu_link{
    position: relative;
    text-decoration: none;
    color: var(--color-txt-dark);
    font-weight: 500;
    margin-inline: 20px;
}
.nav-menu_link::after {
    content: "";
    position: absolute;
    left: 50%;          
    bottom: -3px;       
    width: 0;          
    height: 2px;
    background-color: black;
    transition: all 0.3s ease-in-out;
    transform: translateX(-50%);
}

.nav-menu_link:hover::after {
    width: 100%;       
}

.nav-menu-btn{
    display: none;
}

.nav-menu-btn>i{
    font-size: 28px;
    cursor: pointer;
}

/*diseño de boton */
.btn{
    font-weight: 500;
    padding: 12px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: .4s;
}
.btn>i{
    margin-left: 10px;
}
.btn:hover{
    background: var(--color-txt-dark);
    color: var(--color-txt-light);
}
/*diseños globales de iconos*/
i{
    font-size: 16px;
    margin-right: 5px;
}

.wrapper{
    padding-inline: 10vh;
}
.feactured-box{
    position: relative;
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
    justify-items: center;
    min-height: 700px;
}

.feactured-text{
    position: relative;
    display: flex;
    justify-content: center;
    align-content: center;
    min-height: 80vh;
    flex-direction: column;
    width: 50%;
    padding-left: 20px;
}
.feactured-text-card span{
    background: var(--color-txt-third);
    color: var(--color-txt-light);
    padding: 3px 8px;
    border-radius: 5px;
}

.feactured-name{
    font-size: 50px;
    font-weight: 600;
    color: var(--color-txt-primary);
    margin-block: 20px;
}
.typedText{
    text-transform: capitalize;
    color: var(--color-txt-second);
}

.feactured-text-info{
    font-size: 15px;
    margin-bottom: 30px;
    color: var(--color-txt-primary);
}
.feactured-text-btn{
    display: flex;
    gap: 20px;
}

.feactured-text-btn>.blue-btn{
    background: var(--color-txt-fourth);
    color: var(--color-txt-light);
}

.feactured-text-btn>.blue-btn:hover{
    background: var(--color-txt-third);
}

.social_icons{
    display: flex;
    margin-top: 5em;
    gap: 30px;
}

.icon{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 45% 55% 45% 55%;
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.25);
    cursor: pointer;
    
}

.icon i {
    font-size: 15px;
    margin: auto;
}

.icon:hover{
    background: var(--color-txt-fourth)
}

.feactured-image{
    display: flex;
    justify-content: right;
    margin-left: 40px;
    align-content: center;
}
.image {
    margin: auto 0;
    width: 380px;
    height: 380px;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
}

.image::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 5px solid transparent;
    border-top-color: red;
    border-right-color: yellow;
    border-bottom-color: orange;
    border-left-color: yellow;
    animation: rotateBorder 2s linear infinite;
    box-sizing: border-box;
}

.image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}

@keyframes rotateBorder {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.scroll-btn{
    position: absolute;
    bottom: 0;
    left: 50%;
    translate: -50%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 50px;
    gap: 5px;
    text-decoration: none;
    color: var(--color-txt-second);
    background: var(--color-txt-light);
    border-radius: 30px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.25);
}
.scroll-btn:hover{
    background: var(--color-txt-fourth);
    color: var(--color-bg-light);
}
.scroll-btn i{
    font-size: 20px;
}

.section{
    padding-block: 5em;
}
.row{
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap: 50px;
}
.col{
    display: flex;
    width: 50%;
}

.top-header{
    text-align: center;
    margin-bottom: 5em;
}
.top-header h1{
    font-weight: 600;
    color: var(--color-txt-primary);
    margin-bottom: 10px;
}

.top-header span{
    color: #999;
}

h3{
    font-size: 20px;
    font-weight: 600;
    color: var(--color-txt-second);
    margin-bottom: 15px;
}

.about-info{
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-block: 30px 70px;
    padding-inline: 20px;
    width: 100%;
    background: var(--color-txt-fixteen);
    box-shadow: 1px 8px 10px 2px var(--color-boxshadow-firts);
    border-radius: 20px;
}

.about-info p {
    text-align: center;
    font-size: 15px;
    color: #777;
}

.about-btn button{
    position: absolute;
    right: 20px;
    bottom: 20px;
    background: var(--color-txt-fourth);
    color: var(--color-txt-light);
    border-radius: 20px;
}

.about-btn button:hover{
    background: var(--color-txt-second);
    color: var(--color-txt-light);
}

.skills-box{
    margin: 10px;
}

.skills-header{
    margin-bottom: 30px;
}

.skills-list{
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}

.skills-list span{
    font-size: 14px;
    background: var(--color-txt-fourth);
    color: var(--color-txt-light);
    padding: 2px 10px;
    border-radius: 5px;
}

.proyect-container{
    display: flex;
    width: 100%;
    justify-content: space-between;
    gap: 20px;
    flex-wrap: wrap;
}

.proyect-box{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 30%;
    height: 250px;
    background: var(--color-txt-fixteen);
    border-radius: 20px;
    box-shadow: 1px 8px 10px 2px var(--color-boxshadow-firts);
    overflow: hidden;
}

.proyect-box>i {
    font-size: 50px;
    color: var(--color-txt-second);
    margin-bottom: 5px;
}

.proyect-box label{
    font-size: 15px;
    color: var(--color-txt-primary);
}

.proyect-box::after, .contact-info::after{
    content: "";
    position: absolute;
    bottom: -100%;
    background: var(--color-txt-third);
    width: 100%;
    height: 100%;
    transition: .4s;
    z-index: 1;
}

.proyect-box:hover.proyect-box::after,
.contact-info:hover.contact-info::after{
    bottom: 0;
}
.proyect-box:hover.proyect-box>i,
.proyect-box:hover.proyect-box>h3,
.proyect-box:hover.proyect-box>label{
    color: var(--color-bg-light);
    z-index: 2;
}

.contact-info{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 30px;
    width: 500px;
    height: 315px;
    background: var(--color-txt-second);
    border-radius: 10px;
    box-shadow: 1px 8px 10px 2px var(--color-boxshadow-firts);
    overflow: hidden;
}

.contact-info>h2{
    color: var(--color-txt-dark);
    margin-bottom: 20px;
}

.contact-info>p{
    display: flex;
    align-items: center;
    gap: 10px;
    color: var(--color-txt-dark);
    margin-block: 5px;
}

.contact-info p>i{
    background: var(--color-txt-light);
}
.contact-info:hover.contact-info h2,
.contact-info:hover.contact-info p{
    color: var(--color-txt-light);
    z-index: 2;
}

.form-control{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}
.form-inputs{
    display: flex;
    gap: 10px;
    width: 100%;
}
.input-field{
    width: 50%;
    height: 55px;
    background: transparent;
    border: 2px solid #AAA;
    border-radius: 10px;
    padding-inline: 20px;
    outline: none;
}
textarea{
    width: 100%;
    height: 250px;
    background: transparent;
    border: 2px solid #AAA;
    border-radius: 10px;
    padding: 15px 20px;
    outline: none;
    resize: none;
}
.form-button>.btn{
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--color-txt-second);
    color: var(--color-txt-light);
}
.form-button>.btn:hover{
    background: #00B5E7;
}
.form-button i{
    font-size: 18px;
}

@media only screen and (max-width: 1024px){
    .feactured-text{
        padding: 0;
    }
    .image, .image img{
        width: 320px;
        height: 320px;
    }
}

/* media query = 900px / responsive */
@media only screen and (max-width: 900px) { 
    .nav-button{
        display: none;
    }
    .nav-menu.responsive{
        left: 0;

    }
    .nav-menu{
        position: fixed;
        top: 80px;
        left: 100%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background: rgba(255, 255, 255, 0.7);
        backdrop-filter: blur(20px);
        width: 100%;
        min-height: 450px;
        height: 90vh;
        transition: .3s;

    }
    .nav-menu_ul{
        flex-direction: column;
    }
    .nav-menu-btn{
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .feactured-box{
        flex-direction: column;
        justify-content: center;
        height: 100vh;
    }
    .feactured-text{
        width: 100%;
        order: 2;
        justify-content: center;
        align-content: flex-start;
        align-items: center;
        min-height: 60vh;
    }
    .social_icons{
        margin-top: 2em;
    }
    .feactured-image{
        order: 1;
        justify-content: center;
        margin: 0;
        min-height: 150px;
        width: 100%;
        margin-top: 65px;
    }
    .image, .image img{
        width: 150px;
        height: 150px;
    }
    .row{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 50x;
    }
    .col{
        display: flex;
        justify-content: center;
        gap: 50px;
    }
    .about-info{
        width: 100%;
    }
    .proyect-container{
        justify-content: center;     
    }
    .proyect-box{
        width: 80%;
    }
    .form-movile{
        width: 75%;

    }
}

@media only screen and (max-width: 540px){
    .feactured-name{
        font-size: 35px;
    }
    .col-mo{
        position: relative;
        display: flex;
        width: 100%;
        height: 40vh;
        padding-inline: 10px;
    }
    .about-info{
        position: relative;
        text-align: center;
        justify-content: center;
        align-items: center;
    }
    .about-btn button{
        position: absolute;
        justify-content: center;
        align-items: center;
        right: 0;
        left: 0;
        bottom: 1px;
    }
    .proyect-box{
        width: 100%;
    }
}